<!doctype html>
<html lang="en">
	<head>
		
		{#Meta#}
		<meta charset="UTF-8">
		<meta name="viewport"
		      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		
		{#Title#}
		<title>Symfony Code Examples</title>
		
		{#CSS Stylesheets#}
		{#<link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">#}
		
		{% stylesheets filter='cssrewrite' output='css/app.css'
			'https://fonts.googleapis.com/css?family=Roboto:300,400'
			'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300'
			'%kernel.root_dir%/../vendor/components/font-awesome/css/font-awesome.css'
			'%kernel.root_dir%/../vendor/twbs/bootstrap/dist/css/bootstrap.min.css'
			'css/main.css'
		%}
			<link rel="stylesheet" href="{{ asset_url }}" />
		{% endstylesheets %}

		
	</head>
	
	<body>
	
		{% block body %} Initial page {% endblock body %}
		{#JS Scripts#}
		
		{% javascripts output = 'scripts.js'
		'%kernel.root_dir%/../vendor/components/jquery/jquery.slim.js'
		'%kernel.root_dir%/../vendor/twbs/bootstrap/dist/js/bootstrap.min.js'
		'js/app.js'
		%}
		<script src="{{ asset_url }}"></script>
		{% endjavascripts %}
	
	</body>
</html>