{% extends 'AppBundle::index.html.twig' %}
{% block body %}
	
	<style>
		
		.header{
			font-weight:bold;
		}
	</style>
	<div class="main-text">
		Product
	</div>
	
	<div class="container">
		
		{{ form_start(form) }}
		{{ form_widget(form) }}
		{{ form_end(form) }}
	
		<div class="row">
			<div class="col-md-12">
			<a href="/clear?product=all"
			   class="btn btn-danger clear-table">Clear table</a>
			</div>
		</div>
		{% if products is defined %}
			<div class="row header">
				<div class="col-xs-4">Name</div>
				<div class="col-xs-4">Price</div>
				<div class="col-xs-4">Description</div>
			</div>
			<div class="row">
				
					{% for product in products %}
						<div class="col-xs-4">{{ product.name }}</div>
						<div class="col-xs-4">{{ product.price }}</div>
						<div class="col-xs-4">{{ product.description }}</div>
					{% endfor %}
				
	
			</div>
		{% endif %}
	</div>
{% endblock %}