body{
	

	font-family: 'Open Sans Condensed', sans-serif
}

.main-text{
	text-align: center;
	margin-top: 80px;
	opacity:0;
	font-size: 30px;
	
}

.shown{
	opacity: 1;
	-webkit-transition: opacity 2s ease-in;
	-moz-transition: opacity 2s ease-in;
	-o-transition: opacity 2s ease-in;
	-ms-transition: opacity 2s ease-in;
	transition: opacity 2s ease-in;
}

form{
	width: 100%;
	margin: 0 auto;
	font-size: 20px;
	font-family: 'Open Sans Condensed', sans-serif;
}
form div {
	margin: 20px;
}

form div label {
	font-weight: 300;
	float: left;
}

form div input {
	border-radius: 2px;
	border: 1px solid #888888;
	width: 100%;
	padding: 5px;
}

form div button{
	width: 100%;
}

form textarea{
	width: 100%;
	max-width: 100%;
	padding: 5px;
	border: 1px solid #888888;
}

form label.required:before {
	content: " *";
}


